@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* ---------------------------------
    common style and utilies
----------------------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}
main{
    background-color: #F3F1FF;
    display: flex;
    justify-content: center;
}
.container{
    width: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------
    header styles
---------------------- */
header{
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    margin-bottom: 53px;
}

nav{
    Width: 870px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left-side{
    display: flex; 
    align-items: center;
}
.left-side img{
    width: 40.42px;
    height: 51px;
}
.left-side p{
    margin-left: 16px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}
 
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline-block;
    margin-left: 36px;
    align-items: center;
   
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;

}
ul li img{
    width: 51px;
    height: 51px;

}

/* -------------------------
    top player style
--------------------------- */
.top-players{
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-row-gap: 27px;
   
}
.player{
    display: flex;

}
.player img{
    width: 56px;
    height: 56px;
}
.player p{
    margin-left: 16px;
    color: #000000;
    font-size: 18px;
}